/*-- scss:defaults --*/

// Approximately follow University styles
$primary: #73236d;
$link-color: #1a5877;
$navbar-bg: white;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$font-brand: 'Inter', Helvetica, Arial, sans-serif;
$font-regular: 'Open Sans', Helvetica, Arial, sans-serif;
$headings-font-family: $font-brand;
$font-family-sans-serif: $font-regular;

// Tweak grid layout
$grid-sidebar-width: 18em; // Width of left hand menu

/*-- scss:rules --*/

body {
    // Everything in this block is to approximately follow University styles
    font-size: 0.85rem;
    line-height: 1.5;

    // Responsive widths
    @media (min-width:620px) and (max-width:760px) {
        font-size: calc(.85rem + .05 * ((100vw - 620px)/ 140));
    }

    @media (min-width:760px) and (max-width:1220px) {
        font-size: calc(.9rem + .1 * ((100vw - 760px)/ 460));
    }

    @media (min-width:1220px) {
        font-size: 1rem;
    }
    
    // Centred header that is not sticky or pinned
    padding-top: 0 !important;
    #quarto-header {
        position: static;
        max-width: 1408px;
        margin-inline: auto;

        .navbar-brand-container {
            max-width: none;

            img.navbar-logo {
                max-width: 100%;
                max-height: 5.5rem;
                margin-block: 0.5rem;
            }
        }
    }

    #quarto-sidebar {
        @media (min-width: 992px) {
            // Make left hand menu non-sticky and more compact when menu is not
            // collapsed (setting position: static all the time interferes with
            // the expanding menu's width)
            position: static;
            padding: 0;
        }

        .sidebar-menu-container {
            .sidebar-item {
                // Menu items are in boxes
                margin-block: 0;
                border: 1px solid #e3e6e5;
                border-top: none;

                a {
                    padding: 1rem;
                    background: #f6f6f6;

                    &:hover {
                        background: #e3e6e5;
                    }
                }

                &:first-child {
                    // First box is highlighted and has rounded corners
                    border: none;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    a {
                        background: $primary;
                        color: #fff !important;
                        font-weight: bold;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                }

                &:last-child {
                    // Last box closes the rounded corners
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;

                    a {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }

        a {
            color: $body-color;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                color: $primary !important;
                font-weight: bold;
            }
        }
    }

    .quarto-secondary-nav {
        // Menu displayed on small screens
        background: $primary;

        a, button, nav.quarto-page-breadcrumbs {
            color: #fff !important;
            font-weight: bold;
        }

        .bi-layout-text-sidebar-reverse::before {
            // Hamburger icon for menu
            content: "\f479";
        }
    }

    #title-block-header {
        // Prevent extra spacing below intro text
        margin-bottom: 0;
    }

    h1 {
        border-bottom: .25rem double #e3e6e5;
        color: $primary;
        margin-bottom: 1.5rem !important;
        padding-bottom: .75rem;
    }

    h2,
    h3,
    h4 {
        border-bottom: none;
        margin-top: 1.5em;
    }

    .lead {
        font-size: .95625rem;
        font-weight: 400;
        line-height: 1.5;

        @media (min-width:620px) and (max-width:760px) {
            font-size: calc(.95625rem + .05625 * ((100vw - 620px)/ 140));
        }

        @media (min-width:760px) and (max-width:1220px) {
            font-size: calc(1.0125rem + .1125 * ((100vw - 760px)/ 460));
        }

        @media (min-width:1220px) {
            font-size: 1.125rem;
        }
    }

    // By default, the lead text has a separator bar underneath, but this can be
    // disabled by adding .hide-bar-after-lead to the body tag
    &.hide-bar-after-lead .lead {
        margin-bottom: 1.5rem;
    }
    &:not(.hide-bar-after-lead) .lead::after {
        background-color: #e3e6e5;
        content: "";
        display: block;
        height: .25rem;
        margin: 2.25rem auto;
        width: 50%;
    }

    #TOC {
        margin-bottom: 2rem;

        h2 {
            margin-top: 0 !important;
        }
    }

    hr {
        margin-top: 2rem;
    }
}

.quarto-listing-container-grid {
    margin-block: 1rem;

    a h5 {
        color: $link-color;
        text-decoration: underline;
    }
}

table.schedule {
    // Make the schedule table more readable at small screen sizes
    // by collapsing the table into a list

    td {
        vertical-align: middle;
    }

    @media (max-width:619.999px) {
        // Force table to not be like tables anymore
        // see https://css-tricks.com/responsive-data-tables/

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
            border: none;
        }

        // Hide table headers (but not display: none;, for accessibility)
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            padding-block: 1em;
            border-bottom: 1px solid $border-color;

            &:last-child {
                border-bottom: none;
            }
        }

        td {
            padding: 0.2em 0;
            border: none;

            &:first-child {
                font-weight: bold;
            }
        }
    }
}

.nobreak {
    // Utility to stop text wrapping
    white-space: nowrap !important;
}